h1 {
  font-size: 45px;
  font-weight: bold;
}


 h4 {
   text-transform: uppercase;
   border-bottom: solid 1px;
   padding-bottom: 6px;
   margin-bottom: 5px;
 }


h2 {
  border-bottom: solid 1px;
}

* {
  box-sizing: border-box; /*box-sizing hack*/
}

@media(min-width: 600px) {
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  overflow: auto; /*clear-fix hack*/
}

body {
  background-color: #696969;

}

.left-column {
  float: left;
  width: 70%;
  padding-right: 20px;
  padding: 10px;
}

.right-column {
  background-color: #f7f7f7;
  float: right;
  width: 30%;
  padding-left: 20px;
  padding: 10px;

}

.border {
  border: solid 5px;
} /*this is how you call it in the jquery, make this up with the nonsense word and put the actual column selector in the function selector space*/

}
